<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Confirmation</title>
    <link href="{{url_for('static', filename='confirmation_page.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center full-height">
            <h1>Thank You</h1>
            <p>
                <em>
                    Your registration has been confirmed
                    through < {{email}}>.
                </em>
            </p>
        </div>

        <footer class="text-center">
            <hr>
            <p><a href="http://blog.tecladocode.com/" target="_blank">Teclado</a></p>
        </footer>
    </div>
</body>

</html>
